[user]
	name = Dennis Schön
[alias]
	co = checkout
	st = status
	ci = commit
	d =  diff
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = ~/.gitignore
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    theme = base16
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[checkout]
	defaultRemote = origin
[init]
	defaultBranch = main
[color]
	ui = true
[credential]
	helper = osxkeychain
[include]
    path = .gitconfig.local
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[pull]
	rebase = false
[rebase]
	autoStash = true
[push]
	default = current
