#show-read-feeds no
auto-reload yes

bind-key j down
bind-key k up
bind-key j next articlelist
bind-key k prev articlelist
bind-key J next-feed articlelist
bind-key K prev-feed articlelist
bind-key G end
bind-key g home
bind-key d pagedown
bind-key u pageup
bind-key l open
bind-key h quit
bind-key a toggle-article-read
bind-key n next-unread
bind-key N prev-unread
bind-key D pb-download
bind-key U show-urls
bind-key x pb-delete

feedlist-format "%?T?  %8u  %t  %4S & --- %t ?"
# articlelist-format "%D  %t"

color background          color15    default
color listnormal          color248   default
color listnormal_unread   color4     default
color listfocus           color0     color4
color listfocus_unread    color0     color4   bold
color info                color12    color0
color article             color248   default

# highlights
highlight article "^(Feed|Link):.*$" color6 default bold
highlight article "^(Title|Date|Author):.*$" color6 default bold
highlight article "https?://[^ ]+" color10 default underline
highlight article "\\[[0-9]+\\]" color10 default bold
highlight article "\\[image\\ [0-9]+\\]" color10 default bold

highlight feedlist "^─.*$" color6 color0 bold
highlight feedlist "--- Tech" color12 default bold
highlight feedlist "--- Youtube" color12 default bold
highlight feedlist "--- Twitter" color12 default bold

browser open
macro v set browser "mpv %u" ; open-in-browser ; set browser open
macro d set browser "youtube-dl %u &"; open-in-browser-noninteractively; set browser open
