#show-read-feeds no
auto-reload yes

bind-key j down
bind-key k up
bind-key j next articlelist
bind-key k prev articlelist
bind-key J next-feed articlelist
bind-key K prev-feed articlelist
bind-key G end
bind-key g home
bind-key d pagedown
bind-key u pageup
bind-key l open
bind-key h quit
bind-key a toggle-article-read
bind-key n next-unread
bind-key N prev-unread
bind-key D pb-download
bind-key U show-urls
bind-key x pb-delete

color background         default default
color listnormal         default default
color listnormal_unread  color15 default bold
color listfocus          green   default reverse
color listfocus_unread   color10 default reverse bold
color title              cyan    default reverse
color info               magenta default reverse
color hint-description   magenta default
color article            default default
color end-of-text-marker color8  default

# highlights
highlight article "^(Title):.*$" blue default
highlight article "https?://[^ ]+" red default
highlight article "\\[image\\ [0-9]+\\]" green default

feedlist-format "%?T?  %8u  %t  %4S & --- %t ?"
articlelist-format "%D  %t"

highlight feedlist "--- YouTube" color1 default bold
highlight feedlist "--- Tech" color200 default bold
highlight feedlist "--- Twitter" color100 default bold

browser open
macro v set browser "mpv %u" ; open-in-browser ; set browser open
macro d set browser "youtube-dl %u &"; open-in-browser-noninteractively; set browser open
